<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAE Evaluation Support</title>
    <style>

     table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        th, td {
            padding: 3px;
            font-size: large;
            width: 15%; /* Establece el ancho de cada columna al 25% del ancho total */
        }

        td:first-child {
            text-align: left;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-size: large;
        }
        
        select{
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: large;
        }
        .table-container {
        max-height: 300px; /* Altura máxima para la tabla */
        overflow-y: auto; /* Añade scroll vertical si es necesario */
        }

        .pagination {
        margin-top: 10px;
        }
    </style>
</head>
<body>
    <% if(login) { %>
    <%- include('headeri') %>

    <div style="text-align: center; margin-top: 6vh; font-family: lucida console; text-decoration: underline;">

        <h1>DMAE Evaluation Support</h1>

        <a href="/inicio" style="text-decoration: none;">
            <button style="margin-top: 20px; margin-right: 5%; float: right;" class="button-R">Regresar</button>
        </a>

    </div>

    <div class="contenedor">
    
    <div class="section-90">
        <h1>Lista de Pacientes</h1>

        <div class="grid-container">
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Nombre</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="nameP" id="nameP" placeholder="Jos&eacute; Hern&aacute;ndez"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Fecha de Nacimiento</td>
                    </tr>
                    <tr>
                        <td><input type="date" name="fecha" id="fecha" placeholder="Jos&eacute;"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Sexo</td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="gender" value="" checked>
                                Maculino
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="gender" value="" >
                                Femenino
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table style="float: right;">
                    <tr>
                        <td> <button style="margin-top: 2px; " class="button-GW">Filtrar</button></td>
                    </tr>
                    <tr>
                        <td><form action="/updatepatients" id="formularioeditar" method="post">
                            <input type="hidden" name="idP1" id="idP1">
                            <button style="margin-top: 2px;" class="button-G">Editar</button>
                        </form>
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/eliminarpacientes" id="formularioeliminar" method="post">
                                <input type="hidden" name="idP2" id="idP2">
                                <button style="margin-top: 2px;" class="button-GR">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
          </div>

        <div class="section-90i">
            <div class="table-container">
                <table id="my-table" style="width: 100%; margin-top: 0px; border-color:  rgb(24, 24, 24);" border="2">
                    <thead style="background-color: rgb(155, 155, 155);">
                      <tr>
                        <th style="width: 25%;">Nombre</th>
                        <th>Sexo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Estado</th>
                        <th>Localidad</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody id="table-body" style="background-color: white;">
                      <% listapacientes.forEach(paciente => { %>
                        <tr>
                          <td style="text-align: center; width: 25%;"><%= paciente.name %> <%= paciente.flastname %> <%= paciente.slastname %></td>
                          <td style="text-align: center;"><%= paciente.gender %></td>
                          <td style="text-align: center;"><%
                            const birthdate = new Date(paciente.birthdate);
                            const year = birthdate.getFullYear();
                            const month = ('0' + (birthdate.getMonth() + 1)).slice(-2); 
                            const day = ('0' + birthdate.getDate()).slice(-2);
                            const formattedBirthdate = `${year}-${month}-${day}`;
                            %> <%= formattedBirthdate %>
                          </td>
                          <td style="text-align: center;"><%= paciente.state %></td>
                          <td style="text-align: center;"><%= paciente.city %></td>
                          <td>
                            <input type="radio" name="idP" value="<%= paciente.id %>" id="idP" required>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
              </div>
            
        </div>
    </div>

    </div>
    
    <%- include('footer') %>

    <script>
        // Obtener referencia a los radio buttons
        const radioButtons = document.querySelectorAll('input[type="radio"][id="idP"]');
        
        // Agregar un event listener a cada radio button
        radioButtons.forEach(radioButton => {
            radioButton.addEventListener('change', function() {
                // Obtener el valor del radio button seleccionado
                const valorSeleccionado = this.value;
                // Asignar el valor al campo oculto del formulario
                document.getElementById('idP1').value = valorSeleccionado;
                document.getElementById('idP2').value = valorSeleccionado;
            });
        });
        </script>

<script>
    // Función para verificar si al menos un radio button está seleccionado
    function validarSeleccionRadio(formularioId) {
      var radios = document.querySelectorAll('input[type="radio"][id="idP"]');
      var radioSeleccionado = false;
  
      radios.forEach(function(radio) {
        if (radio.checked) {
          radioSeleccionado = true;
        }
      });
  
      if (!radioSeleccionado) {
        alert('Por favor, seleccione un paciente.');
        event.preventDefault();
        return false; // Evitar el envío del formulario si no se seleccionó ningún radio button
      }
  
      return true; // Permitir el envío del formulario si al menos un radio button está seleccionado
    }
  
    // Asignar el evento submit a los formularios para que se ejecute la función de validación antes del envío
    document.getElementById('formularioeditar').addEventListener('submit', function(event) {
      return validarSeleccionRadio('formulario-e');
    });
    document.getElementById('formularioeliminar').addEventListener('submit', function(event) {
      return validarSeleccionRadio('formulario-e');
    });
  </script>
  

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= time %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <% }else { %>
        <h1>Debe iniciar sesi&oacute;n</h1><br>
        <a href="/" style="text-decoration: none;">
            <button style="margin-top: 10px;" class="button-GO">Cancelar</button>
        </a>
    <% } %>
</body>

</html>
