<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAE Evaluation Support</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.js"></script>
    <style>

     table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        th, td {
            padding: 3px;
            font-size: large;
            width: 20%; /* Establece el ancho de cada columna al 25% del ancho total */
        }

        td:first-child {
            text-align: left;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-size: large;
        }
        
        select{
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: large;
        }
        .table-container {
        overflow-y: auto; /* Añade scroll vertical si es necesario */
        }

        .pagination {
        margin-top: 10px;
        }
    </style>
</head>
<body>
    <% if(login) { %>
    <%- include('headeri') %>

    <div style="text-align: center; margin-top: 6vh; font-family: lucida console; text-decoration: underline;">

        <h1>DMAE Evaluation Support</h1>

        <a href="/records" style="text-decoration: none;">
            <button style="margin-top: 20px; margin-right: 5%; float: right;" class="button-R">Regresar</button>
        </a>

    </div>

    <div class="contenedor">
    
    <div class="section-90" style="width: 50%; margin-left: 25%;">
        <h1>Reporte</h1>
        <button class="button-GO" id="pdfout">Imprimir Reporte</button>
        <div id="maintable" class="section-90i">
            <div class="table-container">
                <table class="reporte" style="width: 100%; margin-top: 0px; border-color:  rgb(24, 24, 24);" border="2">
                    <thead style="background-color: rgb(255, 255, 255);">
                      <tr style="background-color: rgb(155, 155, 155);">
                        <th colspan="5">Reporte de An&aacute;lisis de Im&aacute;gen de Fondo de Ojo</th>
                      </tr>
                      <tr>
                        <td style="text-align: center;font-weight: bold;"">Doctor:</td><td style="text-align: left;" colspan="4"><%= name %></td>
                      </tr>
                      <tr>
                        <td style="text-align: center;font-weight: bold;"">Paciente:</td><td style="text-align: left;" colspan="2"><%= datos.name %> <%= datos.flastname %> <%= datos.slastname %></td>
                        <td style="text-align: center;font-weight: bold;"">Edad:</td><td style="text-align: left;" colspan="2"><%= edad %> años</td>
                      </tr>
                      <tr>
                        <td style="text-align: center;font-weight: bold;"">Genero:</td><td style="text-align: left;" colspan="2"><%= datos.gender %></td>
                        <td style="text-align: center;font-weight: bold;"">Ojo analizado:</td><td style="text-align: left;" colspan="2"><%= datos.side %></td>
                      </tr>
                      <tr>
                        <td style="text-align: center;font-weight: bold;"">Resultado:</td><td style="text-align: left;" colspan="2"><%= datos.acuracy %>% de probabilidad de degeneraci&oacute;n macular <%= datos.phase %></td>
                        <td style="text-align: center;font-weight: bold;"">Fecha de an&aacute;lisis:</td><td style="text-align: left;"><%= a_date %></td>
                      </tr>
                    </thead>
                    <thead style="background-color: rgb(255, 255, 255);">
                        <tr style="background-color: rgb(155, 155, 155);">
                          <th colspan="5">Imagen analizada</th>
                        </tr>
                      </thead>
                    <tbody id="table-body" style="background-color: white;">
                        <tr>
                            <td colspan="3" style="text-align: center; font-weight: bold; color: #00e5ff49; vertical-align: middle;"><img src="/<%= datos.image %>" style="width: 100%;"></td>
                            <td colspan="2" style="text-align: center; font-size: 40px; font-weight: bold; color: #e1fcff; vertical-align: middle;"><p>Puede usar este &aacute;rea para observaciones</p></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: rgb(235, 235, 235);font-weight: bold;"">Notas:</td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: rgb(235, 235, 235); color: rgb(155, 155, 155);">></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: rgb(235, 235, 235); color: rgb(155, 155, 155);">></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="background-color: rgb(235, 235, 235); color: rgb(155, 155, 155);">></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="margin-top: 20px;"><p style="float: left; color: #b3b3b3; font-weight: bold;">DeepEye</p><p style="float: right;">Fecha de impresi&oacute;n del reporte: <%= fechaString %></p></td>
                        </tr>
                    </tbody>
                  </table>
              </div>
        </div>
    </div>

    </div>
    
    <%- include('footer') %>

    <script type="module">
    window.jsPDF = window.jspdf.jsPDF;
    var maintable = document.getElementById('maintable'),
            pdfout = document.getElementById('pdfout');

        pdfout.onclick = function(){
            var doc = new jsPDF('p', 'pt', 'letter');
            var margin = 25;
            var scale = (doc.internal.pageSize.width) / document.body.clientWidth;
            var scale_mobile = (doc.internal.pageSize.width) / document.body.getBoundingClientRect();

            // checking
            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                // mobile
                doc.html(maintable, {
                    x: margin,
                    y: margin,
                    html2canvas:{
                        scale: scale_mobile,
                    },
                    callback: function(doc){
                        doc.output('dataurlnewwindow', {filename: 'reporte.pdf'});
                    }
                });
            } else{
                // PC
                doc.html(maintable, {
                    x: margin,
                    y: margin,
                    html2canvas:{
                        scale: scale*2,
                    },
                    callback: function(doc){
                        doc.output('dataurlnewwindow', {filename: 'reporte.pdf'});
                    }
                });
            }
        };
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= time %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <% }else { %>
        <h1>Debe iniciar sesi&oacute;n</h1><br>
        <a href="/" style="text-decoration: none;">
            <button style="margin-top: 10px;" class="button-GO">Cancelar</button>
        </a>
    <% } %>
</body>

</html>