<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAE Evaluation Support</title>
    <style>

     table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        th, td {
            padding: 3px;
            font-size: large;
            width: 15%; /* Establece el ancho de cada columna al 25% del ancho total */
        }

        td:first-child {
            text-align: left;
        }

        #table-body tr:hover {
            background-color: #76a8ffa5; /* Cambia el color aquí según tu preferencia */
            font-weight: bold;
            font-size:xx-large;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-size: large;
        }
        
        select{
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: large;
        }
        .table-container {
        max-height: 300px; /* Altura máxima para la tabla */
        overflow-y: auto; /* Añade scroll vertical si es necesario */
        }

        .pagination {
        margin-top: 10px;
        }
    </style>
</head>
<body>
    <% if(login) { %>
    <%- include('headeri') %>

    <div style="text-align: center; margin-top: 6vh; font-family: lucida console; text-decoration: underline;">

        <h1>DMAE Evaluation Support</h1>

        <a href="/inicio" style="text-decoration: none;">
            <button style="margin-top: 20px; margin-right: 5%; float: right;" class="button-R">Regresar</button>
        </a>

    </div>

    <div class="contenedor">
    
    <div class="section-90">
        <h1>Lista de Pacientes</h1>

        <div class="grid-container-5">
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Nombre</td>
                    </tr>
                    <tr>
                        <form action="/filter" method="post">
                        <td><input type="text" name="nameP1" id="nameP1" placeholder="Jos&eacute; Hern&aacute;ndez"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Fec. Nacimiento</td>
                    </tr>
                    <tr>
                        <td><input type="date" name="fecha" id="fecha" placeholder="Jos&eacute;"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Estado</td>
                    </tr>
                    <tr>
                        <td><select name="stateP1">
                            <option value=""></option>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Baja California">Baja California</option>
                            <option value="Baja California Sur">Baja California Sur</option>
                            <option value="Campeche">Campeche</option>
                            <option value="Chiapas">Chiapas</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Colima">Colima</option>
                            <option value="Durango">Durango</option>
                            <option value="Estado de México">Estado de México</option>
                            <option value="Guanajuato">Guanajuato</option>
                            <option value="Guerrero">Guerrero</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Michoacán">Michoacán</option>
                            <option value="Morelos">Morelos</option>
                            <option value="Nayarit">Nayarit</option>
                            <option value="Nuevo León">Nuevo León</option>
                            <option value="Oaxaca">Oaxaca</option>
                            <option value="Puebla">Puebla</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="Quintana Roo">Quintana Roo</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Sinaloa">Sinaloa</option>
                            <option value="Sonora">Sonora</option>
                            <option value="Tabasco">Tabasco</option>
                            <option value="Tamaulipas">Tamaulipas</option>
                            <option value="Tlaxcala">Tlaxcala</option>
                            <option value="Veracruz">Veracruz</option>
                            <option value="Yucatán">Yucatán</option>
                            <option value="Zacatecas">Zacatecas</option>
                            <option value="Ciudad de México">Ciudad de México</option>
                        </select></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Localidad</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="cityP1" id="cityP1" placeholder="C&oacute;rdoba"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Sexo</td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="gender" id="gender" value="Masculino">
                                Maculino
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="gender" id="gender" value="Femenino">
                                Femenino
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                            <button style="margin-top: 2px; " class="button-GW"><i class="fas fa-filter"></i> Filtrar</button>
                        </form>
            </div>
          </div>

        <div class="section-90i">
            <div class="table-container">
                <table id="my-table" style="width: 100%; margin-top: 0px; border-color:  rgb(24, 24, 24);" border="2">
                    <thead style="background-color: rgb(155, 155, 155);">
                      <tr>
                        <th style="width: 25%;">Nombre</th>
                        <th style="width: 12%;">Sexo</th>
                        <th style="width: 12%;">Fecha de Nacimiento</th>
                        <th style="width: 14%;">Estado</th>
                        <th style="width: 14%;">Localidad</th>
                        <th style="width: 18%;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody id="table-body" style="background-color: white;">
                      <% listapacientes.forEach(paciente => { %>
                        <tr>
                          <td style="text-align: center; width: 25%;"><%= paciente.flastname %> <%= paciente.slastname %> <%= paciente.name %></td>
                          <td style="text-align: center; width: 12%;"><%= paciente.gender %></td>
                          <td style="text-align: center; width: 12%;"><%
                            const birthdate = new Date(paciente.birthdate);
                            const year = birthdate.getFullYear();
                            const month = ('0' + (birthdate.getMonth() + 1)).slice(-2); 
                            const day = ('0' + birthdate.getDate()).slice(-2);
                            const formattedBirthdate = `${year}-${month}-${day}`;
                            %> <%= formattedBirthdate %>
                          </td>
                          <td style="text-align: center; width: 14%;"><%= paciente.state %></td>
                          <td style="text-align: center; width: 14%;"><%= paciente.city %></td>
                          <td style="text-align: center; width: 18%;">
                            <div style="display: inline-block;">
                                <form action="/updatepatients" method="post" style="display: inline;">
                                  <input type="hidden" name="idP1" id="idP1" value="<%= paciente.id %>">
                                  <button style="margin-top: 2px; text-align: center;" class="button-M"><i class="fas fa-edit"></i>Actualizar</button>
                                </form>
                                <form action="/eliminarpacientes" class="formulario-eliminar" method="post" style="display: inline;">
                                  <input type="hidden" name="idP2" id="idP2" value="<%= paciente.id %>">
                                  <button style="margin-top: 2px;" class="button-MR"><i class="fas fa-trash"></i>Eliminar</button>
                                </form>
                              </div>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
              </div>
            
        </div>
    </div>

    </div>
    
    <%- include('footer') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/resources/js/alertpatients.js"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= time %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <% }else { %>
        <h1>Debe iniciar sesi&oacute;n</h1><br>
        <a href="/" style="text-decoration: none;">
            <button style="margin-top: 10px;" class="button-GO">Cancelar</button>
        </a>
    <% } %>
</body>

</html>
