<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAE Evaluation Support</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        th, td {
            padding: 3px;
            font-size: large;
            width: 20%; /* Establece el ancho de cada columna al 25% del ancho total */
        }

        #table-body tr:hover {
            background-color: #76a8ffa5; /* Cambia el color aquí según tu preferencia */
            font-weight: bold;
            font-size:x-large;
        }

        td:first-child {
            text-align: left;
        }

        input[type="text"],
        input[type="date"] {
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-size: large;
        }
        
        select{
            width: 100%;
            height: 3vh; 
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f2f2f2;
            font-size: large;
        }
        .table-container {
        max-height: 300px; /* Altura máxima para la tabla */
        overflow-y: auto; /* Añade scroll vertical si es necesario */
        }

        .pagination {
        margin-top: 10px;
        }
    </style>
</head>
<body>
    <% if(login) { %>
    <%- include('headeri') %>

    <div style="text-align: center; margin-top: 6vh; font-family: lucida console; text-decoration: underline;">

        <h1>DMAE Evaluation Support</h1>

        <a href="/inicio" style="text-decoration: none;">
            <button style="margin-top: 20px; margin-right: 5%; float: right;" class="button-R">Regresar</button>
        </a>

    </div>

    <div class="contenedor">
    
    <div class="section-90">
        <h1>Historial de An&aacute;lisis</h1>

        <div class="grid-container">
            <div class="grid-item">
                <table>
                    <td>Nombre</td>
                    </tr>
                    <tr>
                        <form action="/filterrecords" method="post">
                        <td><input type="text" name="nameP1" id="nameP1" placeholder="Jos&eacute; Hern&aacute;ndez"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td>Fecha (Registro)</td>
                    </tr>
                    <tr>
                        <td><input type="date" name="dateP1" id="dateP1" placeholder="Jos&eacute;"></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="phaseP1" value="no dmae">
                                Sin Afecci&oacute;n
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="phaseP1" value="leve" >
                                Afecci&oacute;n Leve
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="phaseP1" value="moderada" >
                                Afecci&oacute;n Moderada
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: medium;">
                                <input type="radio" name="phaseP1" value="avanzada" >
                                Afecci&oacute;n Avanzada
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-item"> 
                <button style="margin-top: 30px; margin-left: 12%; " class="button-GW"><i class="fas fa-filter"></i> Filtrar</button>
                </form>
            </div>
          </div>

        <div class="section-90i">
            <div class="table-container">
                <table id="my-table" style="width: 100%; margin-top: 0px; border-color:  rgb(24, 24, 24);" border="2">
                    <thead style="background-color: rgb(155, 155, 155);">
                        <th>Paciente</th>
                        <th>Fecha</th>
                        <th>Resultado</th>
                        <th>Exactitud</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody id="table-body" style="background-color: white;">
                      <% listareportes.forEach(paciente => { %>
                        <tr>
                          <td style="text-align: center;"><%= paciente.flastname %> <%= paciente.slastname %> <%= paciente.name %></td>
                          <td style="text-align: center;"><%
                            const analys_date = new Date(paciente.analys_date);
                            const year = analys_date.getFullYear();
                            const month = ('0' + (analys_date.getMonth() + 1)).slice(-2); 
                            const day = ('0' + analys_date.getDate()).slice(-2);
                            const formattedBirthdate = `${year}-${month}-${day}`;
                            %> <%= formattedBirthdate %></td>
                          <td style="text-align: center;"><%= paciente.phase %></td>
                          <td style="text-align: center;"><%= paciente.acuracy %>%</td>
                          <td>
                            <div style="display: inline-block;">
                                <form action="/printreport" method="post" style="display: inline;">
                                  <input type="hidden" name="idP1" id="idP1" value="<%= paciente.id %>">
                                  <button style="margin-top: 2px; text-align: center;" class="button-M"><i class="fas fa-print"></i> Imprimir</button>
                                </form>
                                <form action="/eliminarreporte" class="formulario-eliminar" method="post" style="display: inline;">
                                  <input type="hidden" name="idP2" id="idP2" value="<%= paciente.id %>">
                                  <button style="margin-top: 2px;" class="button-MR"><i class="fas fa-trash"></i> Eliminar</button>
                                </form>
                              </div>
                            </tr>
                          </td> 
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
              </div>
        </div>
    </div>

    </div>
    
    <%- include('footer') %>

    <script>
    // Obtener referencia a los radio buttons
    const radioButtons = document.querySelectorAll('input[type="radio"][id="idP"]');
    
    // Agregar un event listener a cada radio button
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', function() {
            // Obtener el valor del radio button seleccionado
            const valorSeleccionado = this.value;
            // Asignar el valor al campo oculto del formulario
            document.getElementById('idP1').value = valorSeleccionado;
            document.getElementById('idP2').value = valorSeleccionado;
            });
        });
        </script>

        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="/resources/js/alertrecords.js"></script>

    
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= time %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <% }else { %>
        <h1>Debe iniciar sesi&oacute;n</h1><br>
        <a href="/" style="text-decoration: none;">
            <button style="margin-top: 10px;" class="button-GO">Cancelar</button>
        </a>
    <% } %>
</body>

</html>
